In [1]:
# Initial imports
import os
import requests
import pandas as pd
import numpy as np
import json
import yfinance as yf
from pycoingecko import CoinGeckoAPI
from datetime import datetime

In [2]:
#Defining Stock Function
def stock_pull(ticker):
    
    ticker = yf.Ticker(ticker)
    ticker_hist = ticker.history(period="max")
    ticker_hist = ticker_hist.drop(columns=["Open", "High", "Low", "Volume", "Dividends", "Stock Splits"])
    ticker_hist['Close'] = ticker_hist['Close'].round(2)
    
    return ticker_hist

In [3]:
ltc_hist = stock_pull("ltc")
ltc_hist.head()

            Close
Date
1992-08-18   1.25
1992-08-19   1.25
1992-08-20   1.25
1992-08-21   1.25
1992-08-24   1.26

In [4]:
cg = CoinGeckoAPI()

btc = cg.get_coin_market_chart_by_id(id="bitcoin", vs_currency="usd", days="max")
data = btc['prices']
# print data

df = pd.DataFrame(data, columns = ['Date', 'Close'])
# df.head()

df['Date'] = pd.to_datetime(df['Date'], unit='ms').apply(lambda x: x.date())

df['Close'] = df['Close'].round(2)

df.set_index("Date", inplace=True)

df.head()

             Close
Date
2013-04-28  135.30
2013-04-29  141.96
2013-04-30  135.30
2013-05-01  117.00
2013-05-02  103.43

In [5]:
df.to_csv('./input_data/btc_hist.csv')

In [6]:
ltc_hist.to_csv('./input_data/ltc_hist.csv')